body {
  background-color: #222831;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 20px;
  font-family: "Merriweather", serif;
  color: #dfd0b8;
}

.contacts-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.contact-item a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 25px;
}

.whatsapp-link {
  background-color: #25d366;
  color: white;
}

.whatsapp-link:hover {
  background-color: #1ebe5d;
}

.email {
  margin-top: 20px;
  color: white;
  border: 2px solid white;
}

.email:hover {
  color: #dfd0b8;
  border-color: #dfd0b8;
}

.github-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #dfd0b8;
  padding: 10px 20px;
  border: 2px solid #dfd0b8;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.github-link:hover {
  background-color: #dfd0b8;
  color: #1b1f27;
}

.linkedin {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 10px 20px;
  border: 2px solid #0e76a8;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.3s;
}

.linkedin:hover {
  color: #0e76a8;
  background-color: white;
  border-color: white;
}

@media (max-width: 768px) {
  h1, h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .contacts-section {
    gap: 15px;
    padding: 1rem;
  }

  .contact-item a,
  .github-link,
  .linkedin {
    font-size: 1rem;
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
  }

  .github-link,
  .linkedin {
    margin-top: 15px;
  }
}
